.Authentication {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 35%;
    height: 100%;
    flex-wrap: wrap;
}

.Authentication-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.Authentication-header {
    margin-bottom: 30px;
    text-align: center;
}

.Authentication-registrationtext {
    margin-top: 10px;
}

.Authentication-fail-banner {
    width: 100%;
    background-color: red;
    color: white;
    height: auto;
}

.Authentication-fail-banner-hidden {
    visibility: hidden;
}