<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MEAN Chat</title>
</head>
<body>
    <header>
        <p class="credsForm">
            <label for="nickname">Usuario: </label>
            <input type="text" name="nickname" placeholder="Introduzca su nombre de usuario"
                id="nicknamePH">
        </p>
        <p class="credsForm">
            <label for="pass">Contraseña: </label>
            <input type="password" name="pass" placeholder="Introduzca su contraseña"
                id="passPH">
        </p>
    </header>
    <h1>Bienvenido a MEAN Chat</h1>
</body>
