<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MEAN Chat</title>
</head>
<body>
    <h1>Bienvenido a MEAN Chat</h1>
    <form method="post" action="/users/register">
        <p class="credsForm">
            <input type="text" name="name" placeholder="Nombre"
                id="namePH">
        </p>
        <p class="credsForm">
            <input type="text" name="surname" placeholder="Apellidos"
                id="surnamePH">
        </p>
        <p class="credsForm">
            <input type="text" name="nickname" placeholder="Nombre de usuario"
                id="nicknamePH">
        </p>
        <p class="credsForm">
            <input type="password" name="pass" placeholder="Contraseña"
                id="passPH">
        </p>
        <button type="submit">Registrarse</button>
    </form>
    <p>Ya tienes una cuenta? <a href="/users/login">Entrar</a></p>
</body>
